#footer {
    background: #15161D;
    color: #B9BABC;
  }
  
  .footer {
    margin: 30px;
  }
  
  .footer .footer-title {
    color: #FFF;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0px 0px 30px;
  }
  
  .footer-links li+li {
    margin-top: 15px;
  }
  
  .footer-links li a {
    color: #B9BABC;
  }
  
  .footer-links li i {
    margin-right: 15px;
    color: #D10024;
    width: 14px;
    text-align: center;
  }
  
  .footer-links li a:hover {
    color: #D10024;
  }